@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/geist";

@custom-variant dark (&:is(.dark *));

@theme{
  --font-montserrat: 'Montserrat', 'sans-serif';
  --font-karla: 'Karla', 'sans-serif';
  --color-primary: #FF5A5F;
  --color-darker: #0B3954;
  --color-dark: #087E8B;
}

body {
  font-family: 'Karla', sans-serif;
}